body { 
  background: url('assets/cork-wallet.png') center center fixed; 
  background-repeat: repeat;
}

.spinner {
  border: 10px solid sandybrown;
  border-bottom: 10px solid rgba(1, 1, 1, 0);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 10% auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.jumbotron {
    background: transparent;
}

.glyphicon {
  margin-right: 0.5em;
}

.title {
  font-size: 3em;
  font-weight: 700;
}

.btn {
  font-weight: 500;
  border-radius: 0.1em;
  border: none;
  box-shadow: 0 0.3em 0.3em -0.3em #999;
}

.btn-sm, .btn-xs, .btn-no-shadow {
  box-shadow: none;
}

.full-btn {
  width: 100%;
  margin-bottom: 0.5em;
}

.btn-modal {
  width: 100%;
}

.modal-body input {
  width: 100%;
}

.form-control {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

  border-width: 0 0 0.1em 0;
  border-color: #ccc;
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
    p {
      text-align: center;
    }

    .title {
      text-align: center;
    }

    .btn {
      width: 100%;
      margin-bottom: 0.5em;
    }
}