body { 
  background: url('assets/wov.png') center center fixed; 
  background-repeat: repeat;
}

.spinner {
  border: 10px solid sandybrown;
  border-bottom: 10px solid #f3f3f3;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 10% auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.jumbotron {
    background: transparent;
}

.glyphicon {
  margin-right: 0.5em;
}

.title {
  font-size: 3em;
  font-weight: 700;
}

.full-btn {
  width: 100%;
  margin-bottom: 0.5em;
}

.btn-modal {
  width: 100%;
}

.modal-body input {
  width: 100%;
}

@media only screen and (max-width: 768px) {
    p {
      text-align: center;
    }

    .title {
      font-size: 4em;
      text-align: center;
    }

    .btn {
      width: 100%;
      margin-bottom: 0.5em;
    }
}