body { 
  background: url('assets/cork-wallet.png') center center fixed; 
  background-repeat: repeat;
}

hr {
  width: 100%;
  margin: 0.5em 0;
}

.spinner {
  border: 10px solid sandybrown;
  border-bottom: 10px solid rgba(1, 1, 1, 0);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 10% auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.jumbotron {
    background: transparent;
}

.title {
  font-size: 3em;
  font-weight: 700;
}

.panel-title {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #656565;
}

.avatar {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    float: left;
    margin-right: 0.5em;
}

.name {
    position: relative;
    float: left;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.glyphicon {
  margin-right: 0.5em;
}

.btn {
  font-weight: 500;
  border-radius: 0.1em;
  border: none;
  box-shadow: 0 0.3em 0.3em -0.3em #999;
}

.btn-sm, .btn-xs, .btn-no-shadow {
  box-shadow: none;
}

.full-btn {
  width: 100%;
  margin-bottom: 0.5em;
}

.btn-modal {
  width: 100%;
}

.modal-body input {
  width: 100%;
}

.form-control {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

  border-width: 0 0 0.1em 0;
  border-color: #e0e0e0;
  box-shadow: none;

  padding-left: 0.25em;
  padding-right: 0.25em;
}

.expandable {
  transition: all 0.2s;
}

.expandable:hover {
  animation: 0.25s expand ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes expand {
  from {
    transform: translateY(0) scale(1);
  }
  80% {
    transform: scale(1.075);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

.fake-button {
  cursor: default;    
}

.fake-button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .avatar {
        width: 4em;
        height: 4em;
        border-radius: 2em;
        float: none;
        margin: 0 auto;
    }

    .name {
        font-size: 1em;
    }

    p {
      text-align: center;
    }

    .title {
      text-align: center;
    }

    .btn {
      width: 100%;
      margin-bottom: 0.5em;
    }

    .fake-btn, .scale-btn {
      width: auto;
    }
}