.navbar {
    border: none;
    padding: 1em;
    background: none;
    text-align: center;
}

.sep {
    color: #bbb;
}

a {
    color: #333;
}

@media only screen and (max-width: 768px) {
    .cookies {
        display: none;
    }

    .navbar {
        /*display: none;*/
    }
}