.navbar {
    border: none;
    padding: 1em;
    background: none;
    font-weight: 500;
}

.sep {
    color: #bbb;
}

a {
    color: #222;
}

@media only screen and (max-width: 768px) {
    .pull-right {
        display: none;
    }
}