<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="loginModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{greetings[randGreeting]}}, {{name}}</h4>
            </div>

            <div class="modal-body">
                <div *ngIf="error.length!=0">
                    <alert type="danger">
                        <strong>Error:</strong> {{error}}
                    </alert>
                </div>

                Password:<br/> <input #pass (keyup.enter)="tryLogin(pass.value)" placeholder="Password" type="password"><br/><br/>
                <button (click)="tryLogin(pass.value)" class="btn btn-primary btn-modal" role="button">Login</button>
            </div>
        </div>
    </div>
</div>