<div class="container">
  <div class="jumbotron">
    <div class="title">JUST. PICK. SOMEWHERE.</div>
    <br>

    <p>Your lobby code is: <strong>{{api.lobbyID}}</strong></p>
    <p>Who are you?</p>
    <div class="row">
      <div class="col-md-2" *ngFor="let user of users; let index = index">
        <div class="avatar" [style.background-color]="getColour(index)"><span class="name">{{user.name}}</span></div>
        <br/>
      </div>
    </div>

    <!--<button (click)="addUser()" class="btn btn-primary btn-lg" role="button">Not here? Add yourself</button>-->
    <button type="button" class="btn btn-primary" (click)="registerModal.showModal()">Small modal</button>
    <register-modal #registerModal></register-modal>
  </div>
</div>