<div class="container">
  <div class="jumbotron">
    <div class="title">JUST. PICK. SOMEWHERE.</div>
    <br>

    <p>Your lobby code is: <strong>{{api.lobbyID}}</strong></p>
    <div *ngIf="users.length!=0">
      <p>Who are you?</p>
      <div *ngIf="users.length!=0" class="row">
        <div class="col-md-2" *ngFor="let user of users; let i = index" (click)="loginModal.showModal(user.name)">
          <div class="avatar" [style.border]="loginHover==i ? '0.25em solid white' : 'none'" (mouseenter)="loginMouseEnter(i)" (mouseleave)="loginMouseLeave(i)"
          [style.background-color]="getColour(i)"><span class="name" [style.font-weight]="loginHover==i ? 500 : 400">{{user.name}}</span></div>
          <br/>
        </div>
      </div>
    
      <button type="button" class="btn btn-primary btn-lg full-btn" (click)="registerModal.showModal()">None of the above?</button>
    </div>

    <div *ngIf="users.length==0">
      <p>No one seems to be here yet...</p>
      <button type="button" class="btn btn-primary btn-lg full-btn" (click)="registerModal.showModal()">Be the first to add yourself</button>
    </div>

    <button (click)="logout()" type="button" class="btn btn-danger btn-lg full-btn">Exit Lobby</button>
    
    <register-modal #registerModal></register-modal>
    <login-modal #loginModal></login-modal>
  </div>
</div>