<div class="container">
  <div class="jumbotron">
    <div class="title">JUST. PICK. SOMEWHERE.</div>
    <br>

    <p>Your lobby code is: <strong>{{api.lobbyID}}</strong></p>
    <p>Who are you?</p>
    <div class="row">
      <div class="col-md-2" *ngFor="let name of users; let index = index">
        <div class="avatar">{{name}}</div>
        <br/>
      </div>
    </div>

    <a class="btn btn-primary btn-lg" routerLink="/who" skipLocationChange role="button">Not here? Add yourself</a>
    <!--<alert type="success">hello</alert>-->
  </div>
</div>