<div class="container">
  <div class="jumbotron">
    <div class="title">{{api.title}}</div>
    <br>
    
    <!--Avatar icon-->
    <div class="avatar" [style.background-color]="colour">
      <span class="name">{{api.name.substring(0,1)}}</span>
    </div>

    <!--Lobby code-->
    <p>Your Lobby code is: <strong>{{api.lobbyID}}</strong></p>

    <!--Description-->
    <p>Still can't decide? You should just pick this place:</p>

    <div class="thumb-container">
      <div *ngIf="r!=-1" class="thumbnail">
          <!--Thumbnail/link-->
          <div class="image" (mouseover)="checkCard($event, i)" (mouseout)="checkCard($event, i)">
            <a *ngIf="sub && sub.closed" href="{{places[r].link}}" target="_blank"><img class="thumbnail-img" [src]="places[r].image"></a>
            <img *ngIf="sub && !sub.closed" (click)="stop(); showLink=0" class="thumbnail-img" [src]="places[r].image">

            <div *ngIf="showLink!=-1">
              <h2 *ngIf="sub && sub.closed"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>View</h2>
              <h2 *ngIf="sub && !sub.closed"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span>Stop</h2>
            </div>
          </div>

          <div class="caption">
            <!--Description-->
            <div class="desc">{{places[r].desc}}</div>
          </div>
      </div>
    </div>
    <br>

    <!--Randomise again-->
    <div *ngIf="sub">
      <button *ngIf="!sub.closed" (click)="stop()" type="button" class="btn btn-info btn-lg full-btn"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span>Stop</button>
      <button *ngIf="sub.closed" (click)="start()" type="button" class="btn btn-info btn-lg full-btn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Start</button>
    </div>
    <!--Lobby-->
    <button (click)="lobby()" type="button" class="btn btn-warning btn-lg full-btn"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Back to Lobby</button>
  </div>
</div>