<div class="container">
  <div class="jumbotron">
    <div class="title">{{api.title}}</div>
    <br>

    <p>Welcome to the world's best solution for indecisive planners!</p>
    <p>Create or join a lobby for you and your friends to track your accomodation, restaurant, bar or hotel choices in one easy place and vote on your favourites</p>
    <br>
    <p>Take a look at an example lobby below:</p>
    <img src="assets/intro.png" id="intro" class="expandable" alt="Example lobby">
    <br><br>
    
    <a class="btn btn-primary btn-lg full-btn" routerLink="/join" skipLocationChange role="button">Join Lobby</a>
    <a class="btn btn-success btn-lg full-btn" routerLink="/create" skipLocationChange role="button">Create Lobby</a>
  </div>
</div>