.slide-img {
    width: 70%;
    margin-left: 15%;
    height: 50vh;
}

#intro {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.4));
    margin-bottom: 0.5em;
    transform: perspective(1440px) rotateX(2.5deg);
}

@media only screen and (max-width: 768px) {
    p {
        text-align: left;
    }

    .slide-img {
        width: 90%;
        margin-left: 5%;
        height: 25vh;
    }
}