#intro {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.2)) saturate(85%);
}

#intro:hover {
    filter: drop-shadow(0px 0px 8px rgba(0,0,0,0.3)) saturate(115%);
}

@media only screen and (max-width: 768px) {
    p {
        text-align: left;
    }
}