<div class="container">
  <div class="jumbotron">
    <div class="title">JUST. PICK. SOMEWHERE.</div>
    <br>

    <p>Welcome to the world's best solution for indecisive holiday planners.</p>
    <p>Create or join a Lobby and keep track of all your possible accommodation and location choices in one easy place.</p>
    <p>Invite the people you're going on holiday with and let them chime in with their suggestions too.</p>
    <br>
    
    <a class="btn btn-primary btn-lg full-btn" routerLink="/join" skipLocationChange role="button">Join Lobby</a>
    <a class="btn btn-success btn-lg full-btn" routerLink="/create" skipLocationChange role="button">Create Lobby</a>
  </div>
</div>