<div class="container">
  <div class="jumbotron">
    <h1>JUST. PICK. SOMEWHERE.</h1>
    <br>

    <p>Welcome to the world's best solution for indecisive holiday planners.</p>
    <p>Create or join a Holiday Lobby and keep track of all your possible accomodation and location choices in one easy place.</p>
    <br>
    
    <a class="btn btn-primary btn-lg" href="#" role="button">Join Lobby</a>
    <a class="btn btn-success btn-lg" routerLink="/create" role="button">Create Lobby</a>

    <hr>
    <small>Test test test.</small>
  </div>
</div>