<div class="container">
  <div class="jumbotron">
    <div class="title">{{api.title}}</div>
    <br>

    <!--Avatar icon-->
    <div class="avatar"[style.background-color]="colour">
      <span class="name">{{api.name.substring(0,1)}}</span>
    </div>

    <!--Lobby code-->
    <p>Your Lobby code is: <strong>{{api.lobbyID}}</strong></p>

    <!--<p *ngIf="places.length>0">Your places</p>-->
    <p *ngIf="places.length==0 && !sorting">No one's added any places yet... be the first!</p>

    <div *ngIf="!addingPlace">
      <!--Adding-->
      <button (click)="addingPlace=true" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New place</button>
      <p></p>
    </div>

    <!--Place adding form-->
    <div *ngIf="addingPlace" class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">New Place</h3>
      </div>

      <form class="form-horizontal">
        <div *ngIf="error.length!=0">
          <alert type="danger">
              <strong>Error:</strong> {{error}}
          </alert>
        </div>

          <!-- Link -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="link">Link</label>  
            <div class="col-md-4">
            <input #link name="link" type="text" placeholder="airbnb.co.uk/rooms/123456" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Price -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="price">Price</label>  

            <div class ="col-md-4">
              <div class="input-group">
                <!--Currency-->
                <div class="input-group-btn" dropdown>
                  <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
                    {{currency[currencyMode]}} <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <!--Loop through currency types-->
                    <li *ngFor="let item of currency; let i = index" role="menuitem">
                        <a class="dropdown-item" (click)="currencyMode=i">{{item}} {{currencyLabel[i]}}</a>
                        <hr *ngIf="i!=currency.length-1">
                    </li>
                  </ul>
                </div>

                <input #price type="number" min="0" step="any" placeholder="20.00" class="form-control input-md" required="" maxlength="8">
                <!--<span class="help-block">(Price per person)</span> -->
              </div>
            </div>
          </div>

          <!-- Description -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="desc">Description</label>
            <div class="col-md-4">                     
              <textarea [(ngModel)]="desc" name="desc" (keyup.enter)="addPlace(link.value, price.value)" class="form-control" placeholder="We should choose this because..." maxlength="140"></textarea>
              <span *ngIf="desc.length>0" class="help-block" [style.color]="desc.length==140 ? '#d9534f' : ''">{{140-desc.length}}/140 characters remaining</span> 
            </div>
          </div>

          <!--Submit/cancel-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
              <button (click)="addPlace(link.value, price.value)" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Done</button>
              <button (click)="addingPlace=false" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
            </div>
          </div>
        </form>
    </div>

    
    <div *ngIf="places.length>0 || (places.length==0 && sorting)">
      <!--Search-->
      <input [(ngModel)]="search" type="text" class="form-control" placeholder="Search for...">
      
      <!--Sorting options-->
      <p>
        Sort by: 
        <a [ngClass]="sortMode==0? 'curSort' : 'sortOpt'" (click)="sort(0)">newest</a> | 
        <a [ngClass]="sortMode==1? 'curSort' : 'sortOpt'" (click)="sort(1)">oldest</a> | 
        <a [ngClass]="sortMode==2? 'curSort' : 'sortOpt'" (click)="sort(2)">best</a> | 
        <a [ngClass]="sortMode==3? 'curSort' : 'sortOpt'" (click)="sort(3)">worst</a> |
        <a [ngClass]="sortMode==4? 'curSort' : 'sortOpt'" (click)="sort(4)">price</a>
      </p>
    </div>

    <!--If there're no results-->
    <div *ngIf="search.length>0 && noResults()">
      <p><strong>Couldn't find any results...</strong></p>
    </div>

    <!--Places-->
    <div class="row">
      <div *ngFor="let a of places; let i = index">

        <div class="col-sm-6 col-md-4" *ngIf="show(i)" [ngClass]="{new: showNewLabel(a)}">
          <div class="thumbnail" [ngClass]="getVoteClass(a)=='btn-danger' ? 'downvoted' : ''">
            <!--Thumbnail/link-->
            <div class="image" (mouseover)="checkCard($event, i)" (mouseout)="checkCard($event, i)">
              <a href="{{a.link}}"><img class="thumbnail-img" [src]="a.image"></a>
              <h2 *ngIf="showLink==i"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>View</h2>
            </div>

            <div class="caption">
              <!--Amount of votes-->
              <button [tooltip]="getVoteString(a)" class="votes btn btn-xs" [ngClass]="getVoteClass(a)">{{a.votes}}</button>
              <!--Voting buttons-->
              <button [disabled]="!a.upvoters.includes(api.name) && a.downvoters.includes(api.name)" (click)="vote(i, 1)" class="btn btn-danger btn-xs glyphicon glyphicon-thumbs-down pull-right" aria-hidden="true"></button>
              <button [disabled]="!a.downvoters.includes(api.name) && a.upvoters.includes(api.name)" (click)="vote(i, 0)" class="btn btn-success btn-xs glyphicon glyphicon-thumbs-up pull-right" aria-hidden="true"></button>
              <button *ngIf="a.author==api.name" (click)="delete(i)" class="btn btn-warning btn-xs glyphicon glyphicon-remove pull-right" aria-hidden="true"></button>
              <hr>

              

              <!--Description-->
              <div class="desc">{{a.desc}}</div>

              <!--If it's new-->
              <span *ngIf="showNewLabel(a)" class="label label-success">NEW</span>
              <!--Meta data-->
              <span class="panel-title">{{a.price}}</span>
              <span class="panel-title pull-right">Added by {{a.author}}</span>
              
            </div>
          </div>
        </div>

      </div>
    </div>

    <!--Logout button-->
    <button *ngIf="!sorting" (click)="logout()" type="button" class="btn btn-danger btn-lg full-btn"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</button>
  </div>
</div>