.dropdown-item {
    cursor: pointer;
}

#sortOptions {
    text-align: center;
    margin-top: 0.5em;
}

.curSort {
    font-weight: 600;
    cursor: pointer;
    margin-right: 1em;
}

.sortOpt {
    cursor: pointer;
    margin-right: 1em;
}

.form-horizontal {
    margin: 1em;
}

.thumbnail {
    border-radius: 0;
    padding: 0;
    height: 60%;
    box-shadow: 0 0.5em 0.5em -0.5em gray;
    transition: all 0.5s ease;
}

.downvoted {
    opacity: 0.5;
}

.downvoted:hover, .downvoted:active {
    opacity: 1.0;
}

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.thumbnail-img {
    width: 100%;
    max-height: 20vh;
    min-height: 20vh;
    object-fit: cover;
    overflow: hidden;
    background: black;       
}

.thumbnail-img:hover, .thumbnail-img:active {
    -webkit-filter: brightness(50%) saturate(1.5);
    filter: brightness(50%) saturate(1.5);
}

#place-link { 
   position: absolute; 
   margin-left: 5%;
   width: 90%;
   text-align: center; 

   color: white;
   pointer-events: none;
   text-shadow: 0 0 3px black;
   font-size: 2rem;
   
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;

   top: 50%;
   left: 0;
   bottom: 0;
   right: 0;
   transform: translateY(-50%);
}

.desc {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    min-height: 5.5em;
    max-height: 5.5em;
}

.votes {
    font-weight: 800;
    margin-top: 1px;
    width: 3em;
    text-align: center;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
}

.glyphicon-thumbs-down {
    margin-right: 0;
}

.glyphicon-thumbs-up:hover:enabled, .glyphicon-thumbs-up:active:enabled {
    cursor: pointer;
}

.glyphicon-thumbs-down:hover:enabled, .glyphicon-thumbs-down:active:enabled {
    cursor: pointer;
}

.new {
    -webkit-animation: fadein 1s;
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.neutral, .neutral:active {
    background-color: #606060;
    border-color: #505050;
    color: white;
}

.neutral:hover {
    background-color: #505050;
    border-color: #404040;
}

.author {
    cursor: pointer;
}

.author:hover {
    border-bottom: 0.1em solid #ddd;
}

@media only screen and (max-width: 768px) {
    #sortOptions {
        font-size: 0.9em;
        font-weight: 400;
    }

    .thumbnail-img {
        max-height: 25vh;
        min-height: 25vh;   
    }

    .desc {
        font-size: 1em;
        min-height: 4em;
        max-height: 4em;
    }

    .glyphicon-thumbs-up, .glyphicon-thumbs-down, .glyphicon-remove, .glyphicon-edit, .glyphicon-repeat {
        width: auto;
    }
}