<div class="container">
  <div class="jumbotron">
    <div class="title">JUST. PICK. SOMEWHERE.</div>
    <br>

    <!--Avatar icon-->
    <div class="avatar"[style.background-color]="colour">
      <span class="name">{{api.name.substring(0,1)}}</span>
    </div>

    <!--Lobby code-->
    <p>Your Lobby code is: <strong>{{api.lobbyID}}</strong></p>

    <!--<p *ngIf="places.length>0">Your places</p>-->
    <p *ngIf="places.length==0">No one's added any places yet... be the first!</p>

    <div *ngIf="!addingPlace">
      <!--Adding-->
      <button (click)="addingPlace=true" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New place</button>
      <p></p>
    </div>

    <!--Place adding form-->
    <div *ngIf="addingPlace" class="form-inline">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Place</h3>
        </div>
        
        <div class="panel-body">

          <div *ngIf="error.length!=0">
            <alert type="danger">
              <strong>Error:</strong> {{error}}
            </alert>
          </div>

          <div class="form-group">
            <label>Link</label>
            <input #link type="text" class="form-control" placeholder="airbnb.com/place/123456">
          </div>

          <div class="form-group">
            <label>Price (per person)</label>
            <input #price (keyup.enter)="addPlace(link.value, price.value)" type="text" class="form-control" placeholder="£64.00">
          </div>
          
          <!--Submit/cancel-->
          <button (click)="addPlace(link.value, price.value)" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Done</button>
          <button (click)="addingPlace=false" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let a of places; let i = index" [ngClass]="{new: showNewLabel(a)}">
        <div class="thumbnail" [ngClass]="[i%2!=0 ? 'other' : '', getVoteClass(a)=='btn-danger' ? 'downvoted' : '']">
          <!--Thumbnail/link-->
          <a href="{{a.link}}"><img class="thumbnail-img" [src]="a.image"></a>
          <div class="caption">
            <!--If it's new-->
            <span *ngIf="showNewLabel(a)" class="label label-success">NEW</span>
            <!--Description-->
            This is a description for a place that is a place that is a place that is a place yo yo yo yo yo yo yo yo get us to 140 character please lol
            <hr>

            <!--Amount of votes-->
            <button [tooltip]="getVoteString(a)" class="votes btn btn-xs" [ngClass]="getVoteClass(a)">{{a.votes}}</button>
            <!--Voting buttons-->
            <button [disabled]="!a.downvoters.includes(api.name) && a.upvoters.includes(api.name)" (click)="vote(i, 0)" class="btn btn-success btn-xs glyphicon glyphicon-thumbs-up" aria-hidden="true"></button>
            <button [disabled]="!a.upvoters.includes(api.name) && a.downvoters.includes(api.name)" (click)="vote(i, 1)" class="btn btn-danger btn-xs glyphicon glyphicon-thumbs-down" aria-hidden="true"></button>
          </div>
        </div>
      </div>
    </div>

    <!--Logout button-->
    <button (click)="logout()" type="button" class="btn btn-danger btn-lg full-btn"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout</button>
  </div>
</div>