<div bsModal #registerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="registerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Register</h4>
            </div>

            <div class="modal-body">
                Name:<br/> <input [(ngModel)]="registerName" placeholder="Name" [maxLength]="10"><br/><br/>
                Password:<br/> <input [(ngModel)]="registerPass" (keyup.enter)="registerUser()" placeholder="Password" type="password"><br/><br/>

                <button (click)="registerUser()" class="btn btn-primary btn-modal" role="button">Register</button>
            </div>
        </div>
    </div>
</div>