<div class="container">
  <div class="jumbotron">
    <div class="title">JUST. PICK. SOMEWHERE.</div>
    <br>

    <p>Enter your lobby code below:</p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Lobby code">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    <br/>

    <a class="btn btn-success btn-lg" routerLink="/create" role="button">Create Lobby</a>
    <a class="btn btn-primary btn-lg" routerLink="/">Home</a>
  </div>
</div>