<div class="container">
  <div class="jumbotron">
    <div class="title">JUST. PICK. SOMEWHERE.</div>
    <br>

    <div *ngIf="error.length!=0">
      <alert type="danger">
        <strong>Error:</strong> {{error}}
      </alert>
    </div>

    <p>Enter your lobby code below:</p>
    <div class="input-group">
      <input #inputCode (keyup.enter)="joinLobby(inputCode.value)" class="form-control" placeholder="Lobby code">
      <span class="input-group-btn">
        <button (click)="joinLobby(inputCode.value)" class="btn btn-warning" type="button">Join!</button>
      </span>
    </div>
    <br/>

    <a class="btn btn-success btn-lg" routerLink="/create" skipLocationChange role="button">New Lobby</a>
    <a class="btn btn-primary btn-lg" routerLink="/">Home</a>
  </div>
</div>