<div class="container">
  <div class="jumbotron">
    <div class="title">JUST. PICK. SOMEWHERE.</div>
    <br>

    <p>Your lobby code is:</p>
    <pre #inputTarget>{{code}}</pre>

    <p>Share this code with whoever you're planning your holiday with so they can join your new Holiday Lobby.</p>
    <button class="btn btn-warning btn-lg" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="copied=true"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span>{{getCopyText()}}</button>
    <a class="btn btn-success btn-lg" (click)="joinLobby()" role="button">Create</a>
    <a class="btn btn-primary btn-lg" routerLink="/">Home</a>
  </div>
</div>