<div class="container">
  <div class="jumbotron">
    <div class="title">{{api.title}}</div>
    <br>

    <p>Your lobby is:</p>
    <pre #inputTarget>{{link}}</pre>

    <p>Share this link with your friends so they can join your new lobby</p>
    <button class="btn btn-warning btn-lg full-btn" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="copied=true"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span>{{getCopyText()}}</button>
    <br/>
    <a class="btn btn-success btn-lg" (click)="joinLobby()" role="button"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Enter Lobby</a>
    <a class="btn btn-primary btn-lg" routerLink="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
  </div>
</div>